.c-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 2.5%;
    margin-top: 4rem;
    position: relative;
    background: light-dark(var(--theme), var(--lightTheme));
    border-top: 3px solid var(--darkTheme);
    line-height: 1;

    @include breakpoint($mediumBreakpoint) {
        padding: 0 4rem;
    }
}

body.color--flagBlack,
body.color--flagBrown {
    .c-footer {
        color: white;
    }
}

.c-footer__mode {
    display: flex;
    gap: 1rem;

    label {
        cursor: pointer;
    }

    input[type="radio"] {
        appearance: none;
    }

    label:has(input:checked) {
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}