.c-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1em;
    padding: 1em 2.5%;
    margin-top: var(--mainMargin);
    position: relative;
    background: light-dark(var(--theme), var(--lightTheme));
    border-top: 3px solid var(--darkTheme);
    line-height: 1;
    font-size: 0.9em;

    @include breakpoint($mediumBreakpoint) {
        height: 4rem;
        padding: 0 4rem;
    }
}

body.color--flagBlack,
body.color--flagBrown {
    .c-footer {
        color: white;
    }
}

.c-footer__mode {
    width: 100%;
    display: flex;
    gap: 1rem;

    label {
        cursor: pointer;

        @include setInteractive {
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }

    input[type="radio"] {
        appearance: none;
    }

    label:has(input:checked) {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    @include breakpoint($mediumBreakpoint) {
        width: auto;
        margin-right: auto;
    }
}

.c-footer__top {

}

.c-footer__github {
    // margin-left: auto;
}