.c-calendar {
    @include striplist;

    display: flex;
    flex-flow: column;
    gap: 1em;
    margin-bottom: 2em;

    > li:first-child {
        position: sticky;
        top: 0;
        z-index: 100;
    }
}

.c-calendar__divider {
    width: calc(100% + 0.2em);
    margin: 0 0 0.5em;
    padding: 0 0.2em;
    position: relative;
    left: -0.2em;
    background: var(--lightTheme);
    border-bottom: 3px solid var(--darkTheme);
    color: var(--darkTheme);
}

.c-calendar-item {
    padding: 0 0 1em;
    position: relative;

    &:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--darkTheme);
        opacity: 0.4;
    }

    h3 {
        margin: 0 0 0.5em;
        font-size: 1.2em;
    }

    time {
        display: flex;
        align-items: center;
        gap: 0.5em;
        margin: 0;
        text-transform: uppercase;

        span {
            display: inline-flex;
            gap: 0.5em;
            align-items: center;
            font-weight: bold;
            color: var(--darkTheme);

            &:after {
                content: '';
                width: 2px;
                height: 0.7lh;
                background: var(--darkTheme);
            }
        }
    }
}

@media (prefers-reduced-motion: no-preference){
    .c-calendar-item,
    .c-calendar__divider {
        transform: translateY(30px);
        transform-origin: left bottom;
        animation: fade-in linear forwards;
        animation-timeline: view();
        animation-range: 50px 30%;
    }

    @keyframes fade-in {
        to {
            transform: translateY(0);
        }
    }
}

.c-calendar-item__title {
    a {
        position: relative;
        text-decoration: none;

        svg {
            position: absolute;
            top: 0px;
            right: -12px;
            fill: var(--typographyColor);
        }

        &:before {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            bottom: -1px;
            left: 0;
            background: var(--darkTheme);
            transition: width 0.2s ease-out;
        }

        &:hover {
            text-decoration: none;

            &:before {
                width: 110%;
            }
        }
    }
}

.c-calendar-item__address {
    margin: 0 0 0.5em;
}

[popover="auto"] {
    inset: unset;
    // width: 200px;
    margin: 0;
    position: absolute;
    bottom: calc(anchor(top) + 20px);
    justify-self: anchor-center;
    padding: 8px;
    border-radius: 6px;
    background: var(--lightTheme);
    box-shadow: 1px 1px 3px #999;
    border: none;
}

.c-share-cal-btn {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    background: none;
    border: 1px solid transparent;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--darkTheme);

    &:before {
        content: '';
        width: 2px;
        height: 0.7lh;
        background: var(--darkTheme);
    }

    svg {
        height: 1.6rem;
    }

    .icon-bookmark__fill {
        fill: transparent;
    }

    .icon-bookmark__stroke {
        fill: var(--darkTheme);
    }

    @include setInteractive {
        text-decoration: none;
    }
}

.c-share-cal-btn:has(+ .c-share-cal:popover-open) {
    text-decoration: none;

    .icon-bookmark__fill {
        fill: var(--darkTheme);
    }
}

.c-share-cal {
    font-size: 0.8em;
}

.c-share-cal__content {
    @include striplist;

    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    align-items: start;
}

.c-calendar-item__details {
    margin-top: 0.3em;

    &:open {
        summary {
            padding-left: calc(1lh + 0.5em);
            background: var(--lightTheme);
            text-decoration: none;

            &:before {
                left: 0.5em;
            }
        }
    }

    summary {
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 0.2em 1em 0.2em 1lh;
        position: relative;
        list-style: none;
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 3px;
        transition: padding 0.3s;

        &:hover {
            text-decoration: none;
        }

        &:before {
            content: "i";
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1lh;
            height: 1lh;
            position: absolute;
            left: 0;
            color: white;
            background: var(--darkTheme);
            font-size: 80%;
            text-decoration: none;
            border-radius: 50%;
            transition: left 0.3s;
        }
    }
}

.c-calendar-item__details__content {
    max-width: 70ch;
    padding: 1em;
    background: var(--lightTheme);
}