.c-keyword-list {
    @include striplist;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    font-size: 0.7em;
}

.c-keyword-list__item {
    display: inline-flex;
    padding: 0.2rem 0.7rem;
    margin-bottom: 0.2rem;
    background: color-mix(in srgb, var(--typographyColor), var(--bodyBg) 90%);
    border-radius: 4px;
    border: none;
    line-height: 1.4;
    text-underline-offset: 1px;
    border: 1px solid color-mix(in srgb, var(--typographyColor), var(--bodyBg) 90%);

    &.-tickets {
        background: light-dark(var(--flagYellow), color-mix(in srgb, var(--flagYellow), var(--bodyBg) 30%));
        border: 1px solid light-dark(var(--flagYellow), color-mix(in srgb, var(--flagYellow), var(--bodyBg) 30%));
    }

    &.-signup {
        background: light-dark(var(--flagPurple), color-mix(in srgb, var(--flagPurple), var(--bodyBg) 30%));
        border: 1px solid light-dark(var(--flagPurple), color-mix(in srgb, var(--flagPurple), var(--bodyBg) 30%));
    }

    &.-desc {
        display: inline-flex;
        gap: 0.4em;
        padding: 0.2rem 0.7rem 0.2rem 0.4rem;
        position: relative;
        color: var(--darkTheme);

        background: light-dark(var(--lightTheme), color-mix(in srgb, var(--lightTheme), var(--bodyBg) 30%));
        border: 1px solid var(--darkTheme);

        &:before {
            content: "i";
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.2lh;
            height: 1.2lh;
            color: white;
            background: var(--darkTheme);
            font-size: 80%;
            text-decoration: none;
            border-radius: 50%;
            transition: left 0.3s;
        }

        @include setInteractive {
            background: light-dark(color-mix(in srgb, var(--darkTheme), var(--bodyBg) 30%), var(--darkTheme));
            color: var(--lightTheme);

            &:before {
                background: light-dark(var(--darkTheme), var(--lightTheme));
            }
        }
    }
}

body.color--flagBlack .c-keyword-list__item.-desc,
body.color--flagBrown .c-keyword-list__item.-desc {
    @include setInteractive {
        color: light-dark(white, black);
    }
}

button.c-keyword-list__item {
    color: var(--typographyColor);
    border: 1px solid color-mix(in srgb, var(--typographyColor), var(--bodyBg) 70%);

    &:hover {
        background: color-mix(in srgb, var(--typographyColor), var(--bodyBg) 70%);
    }
}

.c-keyword-list__item:has(+ .c-keyword-explan:popover-open) {
    background: color-mix(in srgb, var(--typographyColor), var(--bodyBg) 70%);
}