button {
    cursor: pointer;
}

.c-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 4.5rem;
    padding: 0 1.3em;
    background: var(--typographyColor);
    border: 2px solid transparent;
    text-decoration: none;
    font-family: var(--primaryFont);
    color: #fff;
    line-height: 1;
    cursor: pointer;
    transition: color 0.2s, border 0.2s, background 0.3s ease-out;

    @include aa;

    &.-full {
        width: 100%;
        justify-content: center;
    }

    &.-icon-before {
        svg {
            height: 2rem;
            position: relative;
            top: -2px;
            margin-right: 1rem;
            // display: block;
        }
    }

    &.-icon-after {
        svg {
            height: 2rem;
            position: relative;
            top: -2px;
            margin-left: 1rem;
        }
    }

    &.-bg-white {
        background: #fff;
        color: #000;

        @include setInteractive {
            border-color: #000;
            color: #000;
        }
    }

    .i-arrow-right,
    .i-arrow-left {
        position: relative;
        left: 0;
        transition: left 0.3s ease-out;
    }

    @include setInteractive {
        text-decoration: none;
        border: 2px solid var(--typographyColor);
        background: white;
        color: var(--typographyColor);

        .i-arrow-right path,
        .i-arrow-left path {
            fill: var(--typographyColor);
        }

        .i-arrow-left {
            left: -8px;
        }

        .i-arrow-right { 
            left: 8px;
        }
    }
}

.c-btn-primary {
    background: var(--primaryColor);
    color: #fff;

    @include setInteractive {
        text-decoration: none;
        color: var(--primaryColor);
        border-color: var(--primaryColor);
    }
}

.btn-primary,
.btn-success {
    @extend .c-btn-primary;
}

.btn {
    @extend .c-btn;
}

.c-btn-admin-edit {
    padding: 1rem 2rem; 
    background: #ccc;
    color: black;
    border: 2px solid #666;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: black;
        background: #eee;
    }
}

.c-btns-admin {
    display: flex;
    gap: 1rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 900;
}

.c-btn-add-event {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background: var(--theme);
    border: 2px solid var(--darkTheme);
    text-decoration: none;
    color: #242424;

    svg {
        width: 16px;
    }

    &:hover {
        background: color-mix(in srgb, var(--theme), black 15%);
    }
}

body.color--flagBlack,
body.color--flagBrown {
    .c-btn-add-event {
        color: white;

        path {
            fill: white;
        }
    }
}

.c-btn-share-event {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    opacity: 0.8;
    color: var(--typographyColor);
    
    svg {
        height: 1.6rem;
    }

    path {
        fill: var(--darkTheme);
        transition: fill 0.3s;
    }

    @include setInteractive {
        text-decoration: underline;
        text-underline-offset: 3px;
        color: var(--typographyColor);

        path {
            fill: color-mix(in srgb, var(--theme), black 50%);
        }

        @media (prefers-color-scheme: dark) {
            path {
                fill: color-mix(in srgb, var(--theme), white 50%);
            }
        }
    }
}

.c-btn-back {
    display: inline-flex;
    align-items: center;
    gap: 0.2em;
    margin: 0 0 2em;
    font-size: 0.8em;

    svg {
        width: 0.5lh;
        height: 0.5lh;

        fill: var(--typographyColor);
        rotate: -90deg;
    }
}