.c-keyword-list {
    @include striplist;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    font-size: 0.7em;
}

.c-keyword-list + address {
    margin-top: 1em;
}

.c-keyword-list__item {
    display: inline-flex;
    padding: 0.2rem 0.7rem;
    margin-bottom: 0.2rem;
    background: color-mix(in srgb, #242424, white 90%);
    border-radius: 4px;
    border: none;
    line-height: 1.4;
    text-decoration: none;
    text-underline-offset: 1px;
    border: 1px solid #666;

    @supports (text-wrap: balance) {
        background: color-mix(in srgb, var(--typographyColor), var(--bodyBg) 90%);
        border: 1px solid color-mix(in srgb, var(--typographyColor), var(--bodyBg) 90%);
    }

    &.-tickets {
        background: var(--flagYellow);
        border: 1px solid var(--flagYellow);
        text-decoration: underline;

        @supports (color: light-dark(black, white)) {
            background: light-dark(var(--flagYellow), color-mix(in srgb, var(--flagYellow), var(--bodyBg) 68%));
            border: 1px solid light-dark(var(--flagYellow), color-mix(in srgb, var(--flagYellow), var(--bodyBg) 30%));    
        }
        
        @include setInteractive {
            text-decoration: none;
            background: #FEF8EA;
            
            @supports (text-wrap: balance) {
                background: color-mix(in srgb, var(--flagYellow), var(--bodyBg) 30%);
            }
        }
    }

    &.-signup {
        background: var(--flagPurple);
        border: 1px solid var(--flagPurple);
        text-decoration: underline;

        @supports (color: light-dark(black, white)) {
            background: light-dark(var(--flagPurple), color-mix(in srgb, var(--flagPurple), var(--bodyBg) 61%));
            border: 1px solid light-dark(var(--flagPurple), color-mix(in srgb, var(--flagPurple), var(--bodyBg) 30%));
        }

        @include setInteractive {
            text-decoration: none;
            background: #F9F5FD;
            
            @supports (color: color-mix(in srgb, red, white)) {
                background: color-mix(in srgb, var(--flagPurple), var(--bodyBg) 30%);
            }
        }
    }

    &.-desc {
        display: inline-flex;
        align-items: center;
        gap: 0.4em;
        flex-shrink: 0;
        padding: 0.2rem 0.7rem 0.2rem 0.4rem;
        position: relative;
        color: var(--darkTheme);

        background: light-dark(var(--lightTheme), color-mix(in srgb, var(--lightTheme), var(--bodyBg) 30%));
        border: 1px solid var(--darkTheme);

        &:before {
            content: "i";
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10px;
            width: 1.2lh;
            height: 10px;
            height: 1.2lh;
            color: white;
            background: var(--darkTheme);
            font-size: 80%;
            text-decoration: none;
            border-radius: 50%;
            transition: left 0.3s;
        }

        @include setInteractive {
            background: light-dark(color-mix(in srgb, var(--darkTheme), var(--bodyBg) 30%), var(--darkTheme));
            color: var(--lightTheme);

            &:before {
                background: light-dark(var(--darkTheme), var(--lightTheme));
            }
        }
    }
}

a.c-keyword-list__item {
    @include setInteractive {
        border-color: color-mix(in srgb, var(--typographyColor), var(--bodyBg) 80%);
        background: color-mix(in srgb, var(--typographyColor), var(--bodyBg) 80%);
    }
}

body.color--flagBlack .c-keyword-list__item.-desc,
body.color--flagBrown .c-keyword-list__item.-desc {
    @include setInteractive {
        color: light-dark(white, black);
    }
}

button.c-keyword-list__item {
    color: var(--typographyColor);
    border: 1px solid color-mix(in srgb, var(--typographyColor), var(--bodyBg) 70%);

    &:hover {
        background: color-mix(in srgb, var(--typographyColor), var(--bodyBg) 70%);
    }
}

.c-keyword-list__item:has(+ .c-keyword-explan:popover-open) {
    background: color-mix(in srgb, var(--typographyColor), var(--bodyBg) 70%);
}

@supports not (inset: 0) {
    // Supports query for checking if gap works
    .c-keyword-list__item {
        margin-right: 0.5rem;
    } 
}

@supports not (color: color-mix(in srgb, red, white)) {
    .c-keyword-list__item.-desc {
        display: none;
    }
}
