form {
    .form-control {
        margin-bottom: 1em;
        color: var(--typographyColor);
        font-family: inherit;
        font-size: inherit;
        border: 2px solid var(--typographyColor);
    }
    
    input[type="text"].form-control,
    input[type="text"],
    input[type="search"].form-control,
    input[type="search"],
    input[type="password"].form-control,
    input[type="password"],
    input[type="email"].form-control,
    input[type="email"],
    input[type="file"].form-control,
    input[type="file"],
    input[type="date"]{
        height: 4.5rem;
        padding: 0 1rem;
        background: var(--bodyBg);
        border: 2px solid var(--darkTheme);
        color: var(--typographyColor);
    }

    input[type="text"].form-control,
    input[type="text"],
    input[type="search"].form-control,
    input[type="search"],
    input[type="password"].form-control,
    input[type="password"],
    input[type="email"].form-control,
    input[type="email"],
    input[type="file"].form-control,
    input[type="file"]{ 
        width: 100%;
    }

    textarea.form-control,
    textarea {
        padding: 0.7rem 1rem;
        height: auto;
    }

    fieldset {
        padding: 0;
    }

    label {
        font-family: var(--primaryFont);
        cursor: pointer;
    }

    select.form-control,
    select {
        height: 4.5rem;
        padding: 0 3rem 0 1.5rem;
        border: 2px solid var(--darkTheme);
        color: var(--typographyColor);
        background: var(--bodyBg);
        border-radius: 0;
    }

    input[type="date"].form-control,
    input[type="date"],
    input[type="time"].form-control,
    input[type="time"] {
        display: inline-flex;
        align-items: center;
        height: 4.5rem;
        font-size: inherit;
        padding: 0 1rem;
        border-radius: 0;
        appearance: none;
    }
}



body input.form-control:not([type="date"]):not([type="time"]):focus {
    padding: 0 1rem;
}

body textarea.form-control:focus {
    padding: 0.7rem 1rem;
}

.c-custom-checkbox {
    display: flex;
    gap: 1em;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 1em;

    &:before {
        content: '';
        display: block;
        width: 1em;
        height: 1em;
        border: 2px solid var(--darkTheme);
    }

    input[type="checkbox"] {
        opacity: 0;
        width: 1em;
        height: 1em;
        position: absolute;
        left: .5em;
        top: .4em;
    }

    &:has(input[type="checkbox"]:checked) {
        &:before {
            background: var(--lightTheme);
        }

        &:after {
            content: '';
            width: 0.3em;
            height: 0.5em;
            position: absolute;
            top: 7px;
            left: 6px;
            border-bottom: 2px solid var(--darkTheme);
            border-right: 2px solid var(--darkTheme);
            rotate: 45deg;
        }
    }

    @include setInteractive {
        &:before {
            border-color: var(--darkTheme);
        }
    }
}

.c-custom-toggle {
    input {
        opacity: 0;
        width: 1em;
        height: 1em;
        position: absolute;
        left: .5em;
        top: .4em;
    }

    label {
        display: flex;
        align-items: center;
        gap: 0.5em;
        position: relative;
    }

    span {
        --_width: 3rem;
        --_color: var(--typographyColor);
        display: block;
        width: calc(var(--_width)*2);
        height: var(--_width);
        background: color-mix(in srgb, var(--_color), white 80%);
        position: relative;
        border: 1px solid var(--_color);
        border-radius: 4.5rem;

        &:after {
            content: '';
            width: calc(var(--_width) - 0.5rem);
            aspect-ratio: 1/1;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 4px;
            transform: translateY(-50%);
            background: var(--_color);
            transition: all 0.3s;
        }
    }

    input:checked + label span {
        --_color: var(--flagBlue);

        &:after {
            left: calc(100% - var(--_width));

        }
    }
}