form {
    .form-control {
        margin-bottom: 1em;
        color: var(--typographyColor);
        font-family: inherit;
        font-size: inherit;
        border: 2px solid var(--typographyColor);
    }
    
    input[type="text"].form-control,
    input[type="text"],
    input[type="search"].form-control,
    input[type="search"],
    input[type="password"].form-control,
    input[type="password"],
    input[type="email"].form-control,
    input[type="email"],
    input[type="file"].form-control,
    input[type="file"],
    input[type="date"]{
        height: 4.5rem;
        padding: 0 1rem;
        background: var(--bodyBg);
        border: 2px solid var(--darkTheme);
        color: var(--typographyColor);
    }

    input[type="text"].form-control,
    input[type="text"],
    input[type="search"].form-control,
    input[type="search"],
    input[type="password"].form-control,
    input[type="password"],
    input[type="email"].form-control,
    input[type="email"],
    input[type="file"].form-control,
    input[type="file"]{ 
        width: 100%;
    }

    textarea.form-control,
    textarea {
        padding: 0.7rem 1rem;
        height: auto;
    }

    fieldset {
        padding: 0;
    }

    label {
        font-family: var(--primaryFont);
    }

    select.form-control,
    select {
        height: 4.5rem;
        padding: 0 3rem 0 1.5rem;
        border: 2px solid var(--darkTheme);
        color: var(--typographyColor);
        background: var(--bodyBg);
    }

    input[type="date"].form-control,
    input[type="date"],
    input[type="time"].form-control,
    input[type="time"] {
        display: inline-flex;
        align-items: center;
        height: 4.5rem;
        font-size: inherit;
        padding: 0 1rem;
    }
}

body input.form-control:not([type="date"]):not([type="time"]):focus {
    padding: 0 1rem;
}

body textarea.form-control:focus {
    padding: 0.7rem 1rem;
}

.c-custom-checkbox {
    display: flex;
    gap: 1em;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 1em;

    &:before {
        content: '';
        display: block;
        width: 1em;
        height: 1em;
        border: 2px solid var(--darkTheme);
    }

    input[type="checkbox"] {
        opacity: 0;
        width: 1em;
        height: 1em;
        position: absolute;
        left: .5em;
        top: .4em;
    }

    &:has(input[type="checkbox"]:checked) {
        &:before {
            background: var(--lightTheme);
        }

        &:after {
            content: '';
            width: 0.3em;
            height: 0.5em;
            position: absolute;
            top: 7px;
            left: 6px;
            border-bottom: 2px solid var(--darkTheme);
            border-right: 2px solid var(--darkTheme);
            rotate: 45deg;
        }
    }

    @include setInteractive {
        &:before {
            border-color: var(--darkTheme);
        }
    }
}