.o-grid {
    @include breakpoint($mediumBreakpoint) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 4rem;
    }
}

.o-main-container {
    width: 100%;
    max-width: 1400px;
}