.t-edit {
    --typographyColor: #242424;
    --lightTheme: #242424;
    --darkTheme: #242424;
    padding: 1em 0;
    color: var(--typographyColor);
    font-family: var(--bodyFont);
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;

    color-scheme: light;

    h2 {
        font-size: 1.4em;
    }

    input[type="text"],
    input[type="date"],
    input[type="time"],
    textarea,
    textarea.form-control {
        border: 2px solid var(--typographyColor);
    }

    .form-group label.control-label {
        color: var(--typographyColor);
    }

    a[id*="subject"] {
        text-decoration: underline;
    }

    main {
        padding-left: 0;
        padding-right: 0;
    }

    @include breakpoint($mediumBreakpoint) {
        padding: 3em 0;
    }
}

.environment-development body.t-edit, 
.environment-test body.t-edit, 
.environment-acceptance body.t-edit, 
.environment-education body.t-edit, 
.environment-backup body.t-edit {
    padding-left: 0;
}

#editcol {
    max-width: 1200px !important;
}

.edit-container {
    @include breakpoint($largeBreakpoint) {
        display: flex;
        gap: 4rem;
    }
}

.edit-container__content {
    width: 100%;
}

.edit-container__sidebar {
    @include breakpoint($largeBreakpoint) {
        flex-shrink: 0;
        width: 30%;
    }
}

.modal-footer {
    .btn {
        min-height: 0px;
    }
}

.if-has-error {
    padding: 0.5em;
    border: 2px solid var(--flagRedHsl);
    background: color-mix(in srgb, var(--flagRedHsl), white 70%);
}

.form-control[name="find_cg"] {
    display: none;
}